<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\LogAPIPrueba\internal-nlog-AspNetCore.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="logs" fileName="C:\LogAPIPrueba\log-${shortdate}.log" />
    <filters>
    <not match="message" value="^Executed DbCommand.*"/>  </filters>
  </targets>

  <rules>
    <!-- Configurar regla para capturar solo logs importantes de Microsoft y otros paquetes del sistema -->
    <logger name="Microsoft.*" minlevel="Warn" final="true" />
    <logger name="System.*" minlevel="Warn" final="true" />
    
    <!-- Registrar solo a partir de Info para el código propio -->
    <logger name="*" minlevel="Info" writeTo="logs" />
  </rules>
</nlog>